In [7]:
import pandas as pd
import numpy as np
from sql_functions import get_dataframe_cp

In [2]:
orders = get_dataframe_cp('SELECT * FROM e_commerce.orders_dataset')
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delivery_customer_day_difference,order_process_day
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,2.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,1.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,0.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,3.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,0.0

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 10 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   order_id                                99441 non-null  object
 1   customer_id                             99441 non-null  object
 2   order_status                            99441 non-null  object
 3   order_purchase_timestamp                99441 non-null  datetime64[ns]
 4   order_approved_at                       99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date            97658 non-null  datetime64[ns]
 6   order_delivered_customer_date           96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date           99441 non-null  datetime64[ns]
 8   order_delivery_customer_day_difference  96476 non-null  float64
 9   order_process_day                       97658 non-null  float64
dtypes: datetime64[ns](5), float64(2), object(3)
memory usage: 7.6+ MB

In [29]:
orders['orders_meet'] = (orders['order_delivered_customer_date'] - orders['order_estimated_delivery_date']).dt.days
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_delivery_customer_day_difference,order_process_day,orders_meet
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,8.0,2.0,-8.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,13.0,1.0,-6.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,9.0,0.0,-18.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,13.0,3.0,-13.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,2.0,0.0,-10.0

In [30]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 11 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   order_id                                99441 non-null  object
 1   customer_id                             99441 non-null  object
 2   order_status                            99441 non-null  object
 3   order_purchase_timestamp                99441 non-null  datetime64[ns]
 4   order_approved_at                       99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date            97658 non-null  datetime64[ns]
 6   order_delivered_customer_date           96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date           99441 non-null  datetime64[ns]
 8   order_delivery_customer_day_difference  96476 non-null  float64
 9   order_process_day                       97658 non-null  float64
 10  orders_meet                             96476 non-null  float64
dtypes: datetime64[ns](5), float64(3), object(3)
memory usage: 8.3+ MB

In [31]:
pos_count = len(list(filter(lambda x: (x > 0), orders['orders_meet'])))
 
print('Positive numbers in the list: ', pos_count)

Positive numbers in the list:  6535

In [37]:
neg_count = len(list(filter(lambda x: (x <= 0), orders['orders_meet'])))
 
print('Negative numbers in the list: ', neg_count)

Negative numbers in the list:  89941

In [38]:
orders['orders_meet'].isna().sum()

2965